{% extends 'layouts/base.html' %}


{% block content %}

    <h1>Detalles Sede</h1>

    <h2>Código sede: {{sede.cod_sede}}</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label for="nombre_sede">Nombre sede:</label>
            <input type="text" name="nombre_sede" required value="{{sede.nombre_sede}}">
        </div>

        <button>
            Actualizar
        </button>

    </form>

    <form action="{% url 'delete_sede' sede.cod_sede %}" method="POST">
        {% csrf_token %}
        <button>
            Eliminar
        </button>
    </form>

{% endblock %}