<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="{% url 'get_pregrados' %}">Pregrados</a>
            </li>

            <li>
                <a href="{% url 'create_pregrado' %}">Crear pregrado</a>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>